@media (max-width: 1110px) {
  .awesome {
    padding: 100px 0 59px 0;
  }
  .awesome-items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .awesome-item {
    text-align: center;
    max-width: 350px;
    margin: 0 15px 50px;
  }
  .awesome-item__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 16px;
  }
  .social__box {
    margin-bottom: 20px;
    text-align: center;
  }
  .social .social-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .social .pricing {
    padding: 80px 0 30px 0;
  }
  .social .pricing-box {
    display: flex;
    justify-content: space-around;
  }
  .social .pricing-list {
    margin: 0 15px 50px;
  }
  .social .customers {
    padding: 80px 0 69px;
  }
  .social .reviews {
    justify-content: space-around;
  }
  .social .reviews-item {
    margin-bottom: 50px;
  }
  .pricing-box {
    justify-content: space-around;
  }
  .pricing-list {
    margin: 20px 0;
  }
  .reviews {
    justify-content: space-around;
  }
  .reviews-item {
    margin: 30px 15px;
  }
  .first-screen__box {
    margin-bottom: 50px;
  }
  .first-screen-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contact-form__input {
    margin: 0 15px;
  }
  .contact-form-box {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    flex-direction: column;
  }
  .slider-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .slider-content-item {
    margin-left: 0px;
  }
  .slider-content-item__box {
    max-width: 100%;
  }
  .slider-content__title {
    margin-bottom: 30px;
  }
  .slider-content__description {
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .first-screen {
    padding-top: 100px;
  }
  .header {
    position: relative;
    z-index: 1000;
  }
  .menu-list {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 80%;
    height: calc(100vh - 100%);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    padding-left: 10%;
    transition: 0.3s;
  }
  .menu-list.active {
    left: 0;
  }
  .menu-list__item {
    margin: 20px 0;
  }
  .menu-btn {
    display: block;
  }
  .contact-form__input {
    margin: 0 0;
    width: 100%;
  }
  .contact-form-box {
    display: block;
  }
  .slider-content-img {
    display: none;
  }
}

@media (max-width: 425px) {
  .social-list {
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .social-list__item {
    margin-left: 5px;
  }
  .social-list__item:first-child {
    margin-left: 0;
  }
  .social-list__link {
    transition: 0.3s;
  }
  .social-list__link:hover {
    color: #ec7979;
  }
  .pricing-list__item {
    width: 250px;
  }
  .slider-tabs__item {
    width: 80px;
    height: 80px;
  }
}
/*# sourceMappingURL=media.css.map */