.awesome {
    padding: 100px 0 109px 0;
}

.awesome-text {
    margin-bottom: 67px;
}

.awesome-items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
}

.awesome-item {
    text-align: center;
    max-width: 350px;
    margin: 0 15px;
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #333333;
        margin-bottom: 16px;
    }
}

.awesome-item-img {
    width: 70px;
    height: 70px;
    border: 1px solid #d98943;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.awesome-item-text{
    color: #000000;
}
