.contact {
    padding: 80px 0 44px;
    &__description {
        margin-bottom: 80px;
    }
}
.contact-form {
    &__input {
        width: 478px;
    }
    &__textarea {
        height: 147px;
    }
    &__btn {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        padding: 11px 32px;
        color: #ffffff;
        background: #ec7979;
        border: 2px solid #ec7979;
        transition: .3s;
        cursor: pointer;
        &:hover {
            color: #ec7979;
            background-color: #fff;
        }
    }
}
.contact-form-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 68px;
}
.contact-form-btn {
    text-align: center;
}
