.header {
    padding: 20px 0;
    background-color: #000;
    &__logo {
        display: block;
    }
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list {
    list-style: none;
    display: flex;
    &__item {
        margin-left: 48px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.7);
    }
}
.menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    &__berger,
    &__berger::before,
    &__berger::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(17, 17, 17, 0.8);
        transition: .3s;
    }
    &__berger {
        top: calc(50% - 2px);
    }
    &__berger::before {
        top: -10px;
    }
    &__berger::after {
        bottom: -10px;
    }
}
.menu-btn.active {
    .menu-btn__berger {
        transform: rotate(135deg);
        &::before {
            top: 0px;
            transform: rotate(-90deg);
        }
        &::after {
            bottom: 0;
            transform: rotate(-90deg);
        }
    }
}
