.social {
    padding: 15px 0;
    background-color: #f8efef;
    &__box {
        max-width: 365px;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #333333;
        margin-bottom: 14px;
    }
    &__sabtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #86878b;
    }
}
.social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 42px;
    color: #c0c0c0;
    width: 684px;
    &__item {
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
    }
}