body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878b;
    &.active {
        overflow: hidden;
    }
}

.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    &::after {
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        background-color: #e72424;
        margin: 34px auto;
    }
}

.section-title_white {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    &::after {
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        background-color: #fff;
        margin: 34px auto;
    }
}

.section-description {
    text-align: center;
}

.client {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__nickname {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #333;
        margin-bottom: 12px;
    }

    &__status {
    }
}
.client-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.client-info {
    text-align: right;
}

.default-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    padding: 11px 26px;
    border: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: -100%;
        left: 0;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.8);
    }
    &__text {
        position: relative;
        z-index: 2;
    }
    &:hover {
        color: #212121;
        box-shadow: 0 0 10px 5px #212121;
    }
    &:hover:active {
        box-shadow: 0 0 4px 3px #212121;
    }
    &:hover::after {
        top: 0;
    }
}

.hover-f {
    display: inline-block;
    transition: 0.3s;
    &:hover {
        color: #ec7979;
        transform: scale(1.1);
    }
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

@import url("../css/header.css");
@import url("../css/first-screen.css");
@import url("../css/social.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/design.css");
@import url("../css/footer.css");

@import url("../css/media.css");
